body
h1 {
  color: red
  font-family: arial
  font-size: 250%
  font_style: italic
}
h2 {
  color: blue
  font-family: arial
  font-size: 150%
  font-style: italic
}
{
  background-color: silver
}
p {
  color: black
  font-family: arial
  font-size: 100%
  font-style: normal
img {
